@model IEnumerable<MyApp.Models.Prestamos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear prestamo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pagos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pagos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
    </tr>
}

</table>
